.button {
  border-radius: 12px;
  padding: 12px 24px;
  width: 276px;
  height: 44px;
  background: var(--button);
  font-weight: 600;
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: var(--button-hover);
}

.button-more {
  border: 1px solid var(--button);
  background-color: transparent;
  color: var(--main);
  border-radius: 12px;
  padding: 12px 24px;
  width: 156px;
  height: 44px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.button-more:hover {
  border-color: var(--button-hover);
}

.accent {
  color: var(--button);
}
